In [2]:
import numpy as np
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [6]:
a = np.array([1, 2, 3, 4, 5, 6, 7])
print(a)
print(a[:6])
print(a[5])

[1 2 3 4 5 6 7]
[1 2 3 4 5 6]
6

In [16]:
a_mul = np.array([[[1, 2, 3, 1],
                   [4, 5, 6, 1],
                   [7, 8, 9, 1],
                   [10, 11, 12, 1]],
                  [[1, 1, 1, 1],
                    [1, 1, 1, 1],
                    [1, 1, 1, 1],
                    [1, 1, 1, 1]]])

print(a_mul.shape)
print(a_mul.ndim)
print(a_mul.size)
print(a_mul.dtype)

(2, 4, 4)
3
32
int64

In [23]:
a = np.array([[1, 2, 3],
              [4, "5", 6],
              [7, 8, 9]], dtype = np.float32)
print(a.dtype)
print(a[0][0].dtype)
print(a[1, 1])

float32
float32
5.0

When we have something that is not a primitive datatype that we can typecast into, everything become an object. This means dynamictyping. When we want all the number into same datatype as dictionary we have to use python style object.

In [28]:
d = {'1': 'A'}

a = np.array([[1, 2, 3],
              [4, d, 6],
              [7, 8, "hello"]])
print(a.dtype)
print(type(a[1][0]))

object
<class 'int'>